<!DOCTYPE html>
<html>
<head>
  <title>Dockerapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <%= content_tag :div, simple_format(notice), class: "bg-success" %>
    <%= content_tag :div, simple_format(alert), class: "bg-danger" %>
    <%= yield %>
  </div>

</body>
</html>
